/***********************************
common css
************************************/
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.button {
    text-decoration: none;
    padding: 10px 16px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

/***********************************
main css
************************************/
.hero_area {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.flexible {
    display: flex;
    margin-bottom: 150px;
}

.half_area {
    width: 50%;
    padding-left: 6%;
    /* padding-right: 50px; */
}

.half_area img {
    width: 80%;
}

h1 {
    font-size: 50px;
    font-weight: 550;
}
span{
    color: orange;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 18px;
    color: dimgrey;
}

.dream_area{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right
}

/***********************************
experience area
************************************/
.experience_area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 100px;
}
#half_area_1{
    width: 45%;
    border-left: 7px solid tomato;
    box-shadow: gray 5px 7px 40px;
    padding-left: 22px;        
}
#half_area_1 h2{
    font-size: 40px;
}
#half_area_1 h4{
    font-size: 20px;
}
#half_area_2{
    width: 45%;
    border-left: 7px solid blue;
    box-shadow: gray 5px 7px 40px;
    padding-left: 22px;
}
#half_area_2 h2{
    font-size: 40px;
}
#half_area_2 h4{
    font-size: 20px;
}

/***********************************
footer area
************************************/
footer{
    text-align: center;
}